<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MoviWeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <header>
      <h1>MoviWeb</h1>
      <nav>
        <a href="{{ url_for('index') }}">Users</a>
      </nav>
    </header>

    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
